@media screen and ( max-width: 1386px )
  .clients
    &__card
      min-height: 35rem !important
@media screen and ( max-width: 1295px )
  .clients
    &__card
      min-height: 40rem !important
@media screen and ( max-width: 1243px )
  .navbar
    &__item
      margin-right: 1rem
  html
    font-size: 12px
@media screen and ( max-width: 1243px )
  .swiper
    &-slide
      &__text
        &_margin-left
          margin-left: auto
  .team
    &__badge
      margin-top: -2.5rem
      margin-left: -11.4rem
@media screen and ( max-width: 1065px )
  .team
    &__badge
      align-self: start
      margin-left: -2.5rem
@media screen and ( max-width: 992px )
  .navbar
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .clients
    &__card
      min-height: 50rem !important
    &__icon
      width: 1.4rem
    &__value
      font-size: 0.8rem
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 6rem
  .card
    &__text
      margin-left: 0
  .section-title
    &_light-text
      color: $light
  .design-project
    background: $dark
  .col-40, .col-60
    &_mobile
      width: 100%
  .team
    background-color: $dark
    &__heading
      font-size: 1.8rem
      margin-bottom: 1.2rem
    &__first-description
      font-size: 1.1rem
      max-width: 25.2rem
      margin-bottom: 5.5rem
    &__card
      margin-bottom: 9.1rem
    &__badge
      width: 5.9rem
      height: 5.9rem
      margin-left: -2.8rem
      margin-top: -2.8rem
    &__title
      font-size: 1.5rem
      margin-top: 1.67rem
    &__subtitle
      font-size: 1.5rem
      margin-bottom: 3.9rem
    &__tag
      font-size: 1.1rem
      padding: 1.214rem 2.6rem
    &__text
      width: 19.4rem
      margin-top: -6.6rem
      margin-left: auto
    &__second-description
      color: $light
      margin-top: -8.5rem
  .clients
    display: none
  .modal-success
    &__recommendation
      text-align: center
    &__link
      margin-top: 1rem
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
  .section-title
    &__heading
      font-size: 1.8rem
    &__description
      font-size: 1.1rem
      max-width: 21.9rem
      line-height: 1.7rem
  .card
    margin-top: 1.3rem
    margin-bottom: 5.4rem
    width: 28.5rem
    &__text
      margin-top: -12.3rem
      max-width: 22.6rem
    &__list
      margin-bottom: 2rem
    &__pricetag
      padding: 0.98rem 2.6rem
    &__item
      &_phone
        display: inline
      &_phone-none
        display: none
  .design-project
    &__section-title
      margin-bottom: 2rem
    &__pricetag
      padding: 0.98rem 4rem
  .project
    &__text
      margin-bottom: 1.5rem
  .swiper
    &-slide
      &__text
        margin-bottom: 1.1rem
        &_margin-bottom
          margin-bottom: 3.96rem
  .control
    background-color: $dark
    &__section-title
      margin-bottom: 3.4rem
    &__video
      margin-bottom: 2.28rem
      max-width: 30rem
      min-height: 17rem
      background-image: url('../img/video-mask-phone.jpg')
    &__form
      flex-direction: column
    &__text
      margin-bottom: 2.4rem
      font-size: 1.3rem
      line-height: 2rem
      width: 27.24rem
      &::before
        margin-bottom: 1.26rem
    &__label
      margin-bottom: 0.1rem
    &__input
      border-bottom: 1px solid $light
      &-group
        margin-bottom: 5.25rem
    &__button
      order: 3
      padding-top: 1.6rem
      padding-bottom: 1.6rem
      margin-bottom: -7.1rem
      border-radius: 0
    &__policy
      margin-top: -4.5rem
      margin-bottom: 5.1rem
      font-size: 1.4rem
      align-self: start
    &__text, &__input, &__input::placeholder, &__policy
      color: $light
  .video
    &__play
      width: 65px
      height: 65px
  .footer
    background-image: none
    margin-top: -10.3rem
    &__input-group
      margin-bottom: 5.5rem
    &__title
      font-size: 1.6rem
      margin-bottom: 5rem
    &__wrap
      background-color: $dark
      margin-top: 0
      margin-bottom: 1.6rem
      padding: 2.5rem 0
    &__form
      flex-direction: column
    &__input
      // margin-bottom: 2.2rem
      border-bottom: 1px solid $light
    &__policy
      margin-top: -4.9rem
      margin-bottom: 5.5rem
      align-self: start
    &__button
      width: 100%
      padding-top: 1.585rem
      padding-bottom: 1.585rem
      border-radius: 0
    &__menu
      display: none
    &__address
      &_desktop
        display: none
      &_mobile
        display: flex
    &__map
      min-height: 20.9rem
      margin-bottom: 1.4rem
  .address
    &__title
      font-size: 1.53rem
      margin-bottom: 1.2rem
      max-width: 27rem
    &__link
      width: 3.3rem
      height: 3.3rem
      margin: 0.85rem
      margin-bottom: 3.3rem
  .team
    &__card
      margin-bottom: 8rem
    &__first-description
      max-width: 25.2rem
      margin-bottom: 5.6rem
    &__text
      margin-top: -6.8rem
    &__badge
      align-self: auto
      margin-left: -11.4rem
    &__second-description
      display: none
@media screen and ( max-width: 350px )
  .card
    width: auto
  .control
    &__text
      width: auto
  .team
    &__badge
      align-self: start
      margin-left: auto
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none