@media screen and ( max-width: 1243px )
  .navbar
    &__item
      margin-right: 1rem
  html
    font-size: 12px
@media screen and ( max-width: 992px )
  .navbar
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 6rem
  .card
    &__text
      margin-left: 0
  .section-title
    &_light-text
      color: $light
  .design-project
    background: $dark
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
  .section-title
    &__heading
      font-size: 1.8rem
    &__description
      font-size: 1.1rem
      max-width: 21.9rem
      line-height: 1.7rem
  .card
    margin-top: 1.3rem
    margin-bottom: 5.4rem
    width: 28.5rem
    &__text
      margin-top: -12.3rem
      max-width: 22.6rem
    &__list
      margin-bottom: 2rem
    &__pricetag
      padding: 0.98rem 2.6rem
    &__item
      &_phone
        display: inline
      &_phone-none
        display: none
  .design-project
    &__section-title
      margin-bottom: 2rem
    &__pricetag
      padding: 0.98rem 4rem

@media screen and ( max-width: 350px )
  .card
    width: auto
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none